body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}



.card {
	height: auto;
	max-height: 100%;
	width: auto;
	margin-right: 1%;
	display: inline-block;
}

.communityField {
	height: auto;
	max-height: 80%;
	max-width: 100%;
	width: auto;
	margin-bottom: 10%;
}

.error {
	width: fit-content;
	height: auto;
	padding: 6px 10px;
	margin: 6px;
	color: red;
	font-weight: bold;
	background-color: beige;
	border-radius: 4px;
	border: 2px double black;
	justify-content: center;
}

.field {
	height: auto;
	max-height: 45%;
	max-width: 80%;
	width: auto;
	margin-bottom: 10%;
}

.hidden {
	visibility: hidden;
}

.inputBox{
	margin: 4px auto;
	border-radius: 5px;
	display: inline-block;
	width: 150px;
	position: relative;
}

.marketObject {
	text-align: center;
	font-size: 24px;
	max-height: 45%;
	height: auto;
	width: auto;
	margin: 10% auto;
}

.starterFieldAndPlenty {
	display: inline-flex;
	align-items: center;
	flex-wrap: wrap;
}

.testingMatch div{
	text-align: center;
	border: 2px black solid;
}

.yourDeck {
	width: auto;
	height: 96%;
	margin-top: 3%;
	margin-left: 10%;
	margin-right: 10%;
	display: inline-block;
}

.yourDiscard {
	width: auto;
	height: 96%;
	margin-top: 3%;
	margin-left: 5%;
	margin-right: 5%;
	display: inline-block;
}

.yourHand img{
	height: auto;
	max-height: 100%;
	width: auto;
	margin-right: 1%;
	display: inline-block;
}




#FHBox {
	margin-top: 50px;
	position: relative;
	height: auto;
}
#FHText {
	text-align: center;
	width: 90%;
	height: auto;
	background: url("https://preview.ibb.co/eoVC8o/cardBack.png");
	background-position: center;
	background-size: auto;
	background-repeat: no-repeat;
	border-radius: 100px;
}
#FHText button {
	background: #564D4E;
	color: #C7D0C5;
	padding: 8px;
	margin: 10%;
	min-width: 40%;
	height: auto;
	font-size: 22px;
}
#FHTitle {
	font-size: 52px;
	font-weight: bold;
	margin-bottom: 10%;
	margin-top: 5%;
	margin-bottom: 10%;
	color: #408054;
	text-shadow: 3px 2px 3px black;
}