body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}



.card {
	height: auto;
	max-height: 100%;
	width: auto;
	margin-right: 1%;
	display: inline-block;
}

.column {
	height: 100%;
}

.communityField {
	height: auto;
	max-height: 80%;
	max-width: 100%;
	width: auto;
	margin-bottom: 10%;
}

.deck {
	height: auto;
	max-height: 100%;
	width: auto;
	max-width: 40%;
	margin-right: 1%;
	display: inline-block;
}

.error {
	width: fit-content;
	height: auto;
	padding: 6px 10px;
	margin: 6px;
	color: red;
	font-weight: bold;
	background-color: beige;
	border-radius: 4px;
	border: 2px double black;
	justify-content: center;
}

.field {
	height: auto;
	max-height: 45%;
	max-width: 80%;
	width: auto;
	margin-bottom: 10%;
}

.hidden {
	visibility: hidden;
}

.inputBox{
	margin: 4px auto;
	border-radius: 5px;
	display: inline-block;
	width: 150px;
	position: relative;
}

.marketObject {
	text-align: center;
	font-size: 24px;
	max-height: 45%;
	height: auto;
	width: auto;
	margin: 10% auto;
}

.starterFieldAndPlenty {
	display: inline-flex;
	align-items: center;
	flex-wrap: wrap;
}

.testingMatch div{
	text-align: center;
	border: 2px black solid;
}

.textOverImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.userDeckArea {
    position: relative;
    text-align: center;
    color: gray;
}

.yourDeck {
	width: auto;
	max-width: 30%;
	max-height: 96%;
	margin-top: 3%;
	margin-left: 10%;
	margin-right: 10%;
	display: inline-block ;
}

.yourDiscard {
	width: auto;
	max-width: 30%;
	max-height: 96%;
	margin-top: 3%;
	margin-left: 5%;
	margin-right: 5%;
	display: inline-block;
}

.yourHand img{
	height: auto;
	max-height: 100%;
	width: auto;
	margin-right: 1%;
	display: inline-block;
}




#FHBox {
	margin-top: 50px;
	position: relative;
	height: auto;
}
#FHText {
	text-align: center;
	width: 90%;
	height: auto;
	background: url("https://image.ibb.co/eoVC8o/cardBack.png");
	background-position: center;
	background-size: auto;
	background-repeat: no-repeat;
	border-radius: 100px;
}
#FHText button {
	background: #564D4E;
	color: #C7D0C5;
	padding: 8px;
	margin: 10%;
	min-width: 40%;
	height: auto;
	font-size: 22px;
}
#FHTitle {
	font-size: 52px;
	font-weight: bold;
	margin-bottom: 10%;
	margin-top: 5%;
	margin-bottom: 10%;
	color: #408054;
	text-shadow: 3px 2px 3px black;
}




/* Modal Content */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
	padding: 2px 16px;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 60%;
    max-height: 60%;
    width: auto;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-img {
	max-height: 50%;
	height: auto;
	max-width: 50%;
	width: auto;
	display: inline-block;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}